._global {
    @font-face {
        font-family: 'fit-number';
        src: url('../font/fit-number.eot');
        src: url('../font/fit-number.eot') format('embedded-opentype'),
        url('../font/fit-number.ttf') format('truetype'),
        url('../font/fit-number.woff') format('woff'),
        url('../font/fit-number.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="fit-number-"], [class*=" fit-number-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'fit-number' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .fit-number-arrow-up:before {
        content: "\ea3a";
    }

    .fit-number-arrow-down:before {
        content: "\ea3e";
    }

}